@using ApexCharts
@using DashboardPOC.Interfaces
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@inject IOrderService OrderService

@if (Data == null)
{
    <MudPaper Outlined="true" Elevation="2">
        <MudProgressCircular Color="Color.Default" Indeterminate="true"
                             Class="object-center" />
    </MudPaper>
}
else
{
    <MudPaper Outlined="true" Elevation="2">
        <MudText Class="ma-4">@Title</MudText>

        <div class="mx-2 my-4">
            <ApexChart TItem="IDataValue">

                <ApexPointSeries TItem="IDataValue"
                                 Items="Data"
                                 SeriesType="SeriesType.Donut"
                                 XValue="@(e => e.Name)"
                                 YValue="@(e => e.Value)"
                                 OrderBy="@(e => e.X)" />

            </ApexChart>
        </div>
    </MudPaper>
}

@code {

    private List<IDataValue> Data { get; set; }

    [Parameter]
    public string Title { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(Random.Shared.Next(500, 2000));

        Data = OrderService.GetGroups();

        StateHasChanged();
    }
}
